@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap");
:root {
  --primary-color:#142c95;
}

body {
  background: #ffffff;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: #f7f4f4;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 160%;
}

.navbar .logo .logoLisdat {
  color: var(--primary-color);
}

.navbar .container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
  height: 35px;
  width: auto;
}

.custom-darkmode {
  -webkit-filter: invert(99%) sepia(57%) saturate(1445%) hue-rotate(330deg) brightness(94%) contrast(95%);
          filter: invert(99%) sepia(57%) saturate(1445%) hue-rotate(330deg) brightness(94%) contrast(95%);
}

nav.show-mobile-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav.hide-mobile-nav {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

nav .mobile-nav-both-sections {
  padding: 8em;
}

nav img {
  padding: 1em;
  height: 35px;
  width: auto;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 2em;
  text-align: center;
}

nav li a:hover {
  font-weight: bold;
}

nav li .light-dark-button {
  all: initial;
  color: white;
  text-decoration: none;
  padding-top: .5em;
  font-size: 2em;
  font-family: "Poppins";
  width: 95%;
  text-align: center;
}

nav li .light-dark-button * {
  all: unset;
}

nav li .light-dark-button:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-section-index {
  text-align: center;
  padding: 5em 2em;
}

.left-col-index .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.left-col-index h1 {
  font-size: 2.5em;
}

.left-col-index .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.left-col-index .watch-video-cta {
  display: block;
  margin: 1em;
}

.left-col-index img {
  margin-right: .5em;
}

.main-section-img {
  width: 70%;
  margin-top: 3em;
}

.main-section-index {
  text-align: center;
}

.main-section-index .heading-agent {
  font-size: 250%;
}

.main-section-index .heading-span-agent {
  color: #5e5e5e;
  font-size: 70%;
}

.main-section-index .game-start-button {
  background-color: #020285;
  font-size: 200%;
  color: white;
  border-radius: 1em;
  font-family: "Poppins";
  font-weight: bold;
  padding: 1em 2em 1em 2em;
  cursor: pointer;
}

.main-section-index li {
  padding: 1em;
}

.main-section-options {
  text-align: center;
  padding: 1em .5em;
}

.main-section-options .form-agent-options ul li .heading-player-amount, .main-section-options .form-agent-options ul li .heading-time-amount {
  margin: 0;
}

.main-section-options .spieler-anzahl-schrift {
  font-size: 80%;
}

.main-section-options li {
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 1em;
  margin: .5em 1em;
  padding: .5em;
}

.main-section-options li .heading-options .heading-player-amount .heading-time-amount {
  margin: 0;
}

.main-section-options p {
  font-size: 3em;
  font-weight: bold;
  padding: .3em;
  margin: 0;
}

.main-section-options h1 {
  font-size: 200%;
}

.main-section-options h1 span {
  font-size: 60%;
}

.main-section-options .slider {
  width: 50%;
}

#heading-options {
  font-size: 280%;
  color: #a00000;
  font-weight: bold;
  margin: .3em;
}

.button-agent-options {
  color: white;
  border-radius: 1em;
  font-family: "Poppins";
  padding: 1em 2em 1em 2em;
  cursor: pointer;
  background-color: #020285;
  font-size: 200%;
  font-weight: bold;
  margin-top: .3em;
}

.main-section-agent-start {
  text-align: center;
  padding: 1em .5em;
}

.main-section-agent-start p {
  font-size: 3em;
  font-weight: bold;
}

.main-section-agent-start h3 {
  margin: 0;
}

#game-instructions {
  color: #a00000;
  font-size: 200%;
}

.main-part-agent-start {
  text-align: center;
  padding: .5em 1em;
}

.main-part-agent-start button {
  color: white;
  border-radius: 1em;
  font-style: normal;
  padding: 1em 1.5em 1em 1.5em;
  cursor: pointer;
}

.main-part-agent-start .bestätigen-button {
  background-color: #020285;
  font-size: 300%;
}

.game-info-fields li {
  padding: 2em;
}

.game-info-fields ul {
  text-align: left;
  font-size: 150%;
  font-weight: bold;
}

.game-info-fields li {
  background: #e9e9e9;
  border-style: solid;
  border-radius: 1em;
  margin-bottom: 1em;
}

.game-info-fields button {
  color: white;
  border-radius: 1em;
  font-style: normal;
  cursor: pointer;
}

.game-info-fields .weiter-button {
  background-color: #020285;
  font-size: 300%;
  font-family: "Poppins";
  font-weight: bold;
}

.hidden {
  display: none;
}

.button-section-agent-start {
  text-align: center;
  padding: 2em;
}

.button-section-agent-start .play-again-button {
  color: white;
  border-radius: 1em;
  font-style: normal;
  padding: .5em 1em .5em 1em;
  cursor: pointer;
  background-color: #020285;
  font-size: 300%;
}

.button-section-agent-start .start-button {
  background-color: #1f1f1f;
  color: red;
  border-radius: 1em;
  font-size: 300%;
  padding: 1em 2em 1em 2em;
  font-family: "Poppins";
  font-weight: bold;
  cursor: pointer;
}

.countDown #demo {
  color: red;
  font-family: 'Courier New', Courier, monospace;
  margin: .5em 0em;
  text-align: center;
  font-size: 5em;
}

@media only screen and (min-width: 768px) {
  .main-section-agent-start {
    padding: 2em;
  }
  nav.hide-mobile-nav {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar .container-nav .mobile-nav-both-sections {
    padding: 0em;
  }
  .navbar nav {
    font-size: 130%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav .light-dark-button {
    all: initial;
    color: black;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 110%;
    font-family: "Poppins";
  }
  .navbar nav .light-dark-button * {
    all: unset;
  }
  .navbar nav .light-dark-button:hover {
    font-weight: bold;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    padding: .1em 1em;
    font-size: 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
}

@media only screen and (min-width: 1080px) {
  .main-section-agent-start {
    padding: 2em;
  }
  nav.hide-mobile-nav {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .navbar .logo {
    font-size: 160%;
  }
  .container-nav {
    width: 1080px;
    margin: 0 auto;
  }
  .container-nav .mobile-nav-both-sections {
    padding: 0em;
  }
  section {
    padding: 10em 4em;
  }
  .main-section-index .container-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .main-section-index .container-nav .left-col-index {
    margin: 3em 3em 0 5em;
  }
  .main-section-index .container-nav .left-col-index h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
}
/*# sourceMappingURL=main.css.map */